@use "./variables.scss" as *;

// put your custom CSS here!

.markdown table {
  border-collapse: collapse;
  margin: 1rem auto;
}
.markdown th, .markdown td {
  border: 1px solid;
  padding: 0.6rem 1rem;
  text-align: center;
}

